.product-detail-thumbnail {
  width: 90px;
  height: 90px;
}

.img-container {
  padding: 2px;
  border: 1px solid #ddd;
  width: 90px;
  height: 90px;
}
.gallery-container {
  flex: 0 0 65%;
  display: flex;
}
.container-detail {
  display: flex;
  border: 1px solid #ddd;
  background-color: #fff;
}

.gallery-content {
  display: flex;
  flex-direction: column;
  flex: 0 0 10%;
}

.info-product {
  flex: 0 0 35%;
}

.img-selected {
  display: flex;
  flex: 0 0 90%;
  justify-content: center;
}

.form-button{
  width: 100%;
  margin-top: 20px;
  background: linear-gradient(60deg,#98288f,#d88ee0,#8785f2,#00fff7);
}
