.home-container { 
  background-color: #faf7ff;
  padding: 70px 15px 50px 15px;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.container {
  height: 100%;
}

.log-out-button{
  margin-left: auto;
  background-color: transparent;
  font-size: 14px;
  opacity: 0.7;
  border: 0;
  outline: none;
  color: #FFF;
  cursor: pointer;
}