.product-detail-thumbnail {
  max-width: 100%;
  max-height: 100%;
}

.img-container {
  padding: 2px;
  border-right: 1px solid lightslategrey;
  border-bottom: 1px solid lightslategrey;
  width: 90px;
  height: 95px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.gallery-container {
  flex: 0 0 65%;
  display: flex;
  border-right: 1px solid lightslategrey;
}
.container-detail {
  display: flex;
  border: 1px solid lightslategrey;
  background-color: #fff;
}

.gallery-content {
  display: flex;
  flex-direction: column;
  flex: 0 0 10%;
}

.info-product {
  flex: 0 0 32%;
  padding: 20px;
}

.price-product {
  font-size: 44px;
  font-weight: 700;
}

.img-selected {
  display: flex;
  flex: 0 0 90%;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.form-button{
  width: 100%;
  margin-top: 20px;
  background: linear-gradient(60deg,#98288f,#d88ee0,#8785f2,#00fff7);
}

.img-zoom {
  width: 150px;
  height: 150px;
  background-color: hsla(0,0%,94%,.4);
  border: 1px solid #dedede;
  position: absolute;
  z-index: 2;
}

.img-mouse-move{
  position: relative;
  z-index: 5;
}