.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.card-category {
  flex: 0 0 30%;
  text-align: center;
  padding: 5px;
  background-color: white;
  border: 1px solid lightskyblue;
  color: #98288f;
  padding-top: 20px;
  cursor: pointer;
}
.card-category:hover {
  background-color: #98288f;
  color: #fff;
}

.icon-list {
  font-size: 80px;
}

.card-category p {
  color: #827171;
}
.card-category:hover p{
  color: #fff;
}

.container-list h1 {
  color: #666;
  padding-left: 50px;
}

.category-title {
  text-align: center;
}